﻿@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = Texts.Forms.Membership.ForgotPassword.FormTitle.ToString(Localizer);
    ViewData["PageId"] = "ForgotPassword";
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

<script id="Template_Membership_ForgotPasswordPanel" type="text/template">
    <div>
        <h3 class="page-title">@Texts.Forms.Membership.ForgotPassword.FormTitle.ToString(Localizer)</h3>
        <p class="form-info">@Texts.Forms.Membership.ForgotPassword.FormInfo.ToString(Localizer)</p>
        <form id="~_Form" action="">
            <div class="s-Form">
                <div class="fieldset ui-widget ui-widget-content ui-corner-all">
                    <div id="~_PropertyGrid"></div>
                    <div class="clear"></div>
                </div>
                <div class="buttons">
                    <button id="~_SubmitButton" type="submit" class="btn btn-primary">
                        @Texts.Forms.Membership.ForgotPassword.SubmitButton.ToString(Localizer)
                    </button>
                </div>
            </div>
        </form>
    </div>
</script>

<div class="page-content">
    <div id="ForgotPasswordPanel">
    </div>
</div>

<script type="text/javascript">
$(function() {
    new Serene3.Membership.ForgotPasswordPanel($('#ForgotPasswordPanel')).init();
});
</script>